# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for Data Science
* List commonly used libraries in Data Science
* Table of Data Science Tools

Some of the popular languages that Data Scientists use are:
* Python
* Julia
* R

Some of the commonly used libraries used by Data Scientists include:

* Matplotlib
* Scikit-Learn
* NumPy

|Data Science Tools|
--------------------
| Tableau |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
round(200/60, 2)

3.33

## Author
Dr. Benjamin Joseph